{% block rental_amount_widget %}
    {% set select %}{{ form_widget(form.type, { 'attr': { 'class': 'addon-select' } }) }}{% endset %}
    {% set money %}{{ form_widget(form.amount, { 'attr': { 'class': 'addon-select-sibling' }}) }}{% endset %}
    {{ money|raw|replace({'</div>': select ~ '</div>'})|raw }}
{% endblock rental_amount_widget %}


