/.vagrant/
/html/
/**/node_modules/
/**/bower_components/
/**/.idea/workspace.xml
/**/.idea/tasks.xml
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/vendor/
.npm-debug.log
/ansible/playbook.retry
/web/gei/build
