{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascript %}
<!--Morris JavaScript -->
<script src="/theme/dist/bower_components/raphael/raphael-min.js"></script>
<script src="/theme/dist/bower_components/morrisjs/morris.js"></script>
<script src="/theme/dist/js/dashboard1.js"></script>
<script src="/theme/dist/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/theme/dist/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-lg-9 col-sm-12">
        <div class="white-box">
            <div class="row row-in">
                <div class="col-lg-3 col-sm-6">
                    <div class="col-in text-center">
                        <h5 class="text-danger">Chrome</h5>
                        <h3 class="counter">5645</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="col-in text-center b-r-none">
                        <h5 class="text-muted text-warning">Mozila</h5>
                        <h3 class="counter">4250</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="col-in text-center">
                        <h5 class="text-muted text-purple">Safari</h5>
                        <h3 class="counter">3450</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="col-in text-center b-0">
                        <h5 class="text-primary">Explorer</h5>
                        <h3 class="counter">2500</h3>
                    </div>
                </div>
            </div>
            <div id="morris-area-chart" style="height: 345px;"></div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-6 ">
        <div class="bg-primary m-b-20">
            <div id="myCarousel" class="carousel vcarousel slide vertical p-20">
                <!-- Carousel items -->
                <div class="carousel-inner ">
                    <div class="active item"> <i class="fa fa-map-marker fa-2x text-white"></i>
                        <p class="text-white">25th Jan</p>
                        <h2 class="text-white">Now Get <span class="font-bold">50% Off</span><br/>
                            on buy</h2>
                        <button class="btn btn-default waves-effect waves-light m-t-15">Default</button>
                    </div>
                    <div class="item"> <i class="fa fa-map-marker fa-2x text-white"></i>
                        <p class="text-white">25th Jan</p>
                        <h2 class="text-white">Now Get <span class="font-bold">50% Off</span><br/>
                            on buy</h2>
                        <button class="btn btn-success waves-effect waves-light m-t-15">Default</button>
                    </div>
                    <div class="item"> <i class="fa fa-map-marker fa-2x text-white"></i>
                        <p class="text-white">25th Jan</p>
                        <h2 class="text-white">Now Get <span class="font-bold">50% Off</span><br/>
                            on buy</h2>
                        <button class="btn btn-white waves-effect waves-light m-t-15">Default</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="bg-danger m-b-20">
            <div id="myCarouse2" class="carousel vcarousel slide p-20">
                <!-- Carousel items -->
                <div class="carousel-inner ">
                    <div class="active item">
                        <h2 class="text-white">My Acting blown <span class="font-bold">Your Mind</span><br/>
                            and you also laugh at <br/>
                            the moment</h2>
                        <div class="twi-user"><img src="/theme/dist/images/users/hritik.jpg" alt="user" class="img-circle img-responsive pull-left">
                            <h4 class="text-white m-b-0">Govinda</h4>
                            <p class="text-white">Actor</p>
                        </div>
                    </div>
                    <div class="item">
                        <h2 class="text-white">My Acting blown <span class="font-bold">Your Mind</span><br/>
                            and you also laugh at <br/>
                            the moment</h2>
                        <div class="twi-user"><img src="/theme/dist/images/users/genu.jpg" alt="user" class="img-circle img-responsive pull-left">
                            <h4 class="text-white m-b-0">Govinda</h4>
                            <p class="text-white">Actor</p>
                        </div>
                    </div>
                    <div class="item">
                        <h2 class="text-white">My Acting blown <span class="font-bold">Your Mind</span><br/>
                            and you also laugh at <br/>
                            the moment</h2>
                        <div class="twi-user"><img src="/theme/dist/images/users/ritesh.jpg" alt="user" class="img-circle img-responsive pull-left">
                            <h4 class="text-white m-b-0">Govinda</h4>
                            <p class="text-white">Actor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--row -->
<div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="cell text-left">
                                <div id="sparkline1"></div>
                            </div>
                            <div class="cell text-right">
                                <h2 class="m-t-0 m-b-5 font-light counter">3506</h2>
                                <h5 class="text-muted m-b-0 m-t-0">Sales</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="white-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="cell text-left">
                                <div id="sparkline2"></div>
                            </div>
                            <div class="cell text-right">
                                <h2 class="m-t-0 m-b-5 font-light">18% Total</h2>
                                <h5 class="text-muted m-b-0 m-t-0">Visitors</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Portlet -->
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <div class="col-md-5 col-sm-4">
                        <h4 class="font-light">India,<br/>
                            Ahmedabad</h4>
                        <p><b>1,20,000 <br/>
                                USD</b></p>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <div id="sparkline3" class="text-center"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="cell text-left">
                                <div id="sparkline4"></div>
                            </div>
                            <div class="cell text-right">
                                <h2 class="m-t-0 m-b-5 font-light counter">2547</h2>
                                <h5 class="text-muted m-b-0 m-t-0">clicks</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="white-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="cell text-left">
                                <div id="sparkline6"></div>
                            </div>
                            <div class="cell text-right">
                                <h2 class="m-t-0 m-b-5 font-light counter">1354</h2>
                                <h5 class="text-muted m-b-0 m-t-0">Views</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <div class="col-md-3 col-sm-3">
                        <h4 class="font-light">Total<br/>
                            Sales</h4>
                        <p><b>1,20,000 <br/>
                                USD</b></p>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div id="sparkline5"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- /Portlet -->
    </div>
</div>
<!--/ row -->
{% endblock %}
