<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    {% block modalLabel %}{% endblock %}
    <h4 class="modal-title">{% block modalTitle %}{% endblock %}</h4>
</div>
<div class="modal-body">{% block modalContent %}{% endblock %}</div>
