<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>Nest &middot; Golden Eagle International</title>
    <link href="/theme/dist/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/dist/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<body >
<section id="wrapper" class="login-register">
    <div class="login-box">
        <div class="white-box">
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
</section>
<script src="/theme/dist/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/theme/dist/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
