.dataTables_wrapper {
  margin-top: 0;
}
.dataTables_scrollBody {
  min-height: 210px;
}
.dataTable {
  /* thead {
    display: none;
  }*/
  thead th,
  thead td,
  thead th.sorting_asc,
  thead th.sorting_desc,
  thead th.sorting {
    background-color: #fff;
    color: #666;
    font-weight: normal;
    letter-spacing: .03em;
  }
  &.display tbody tr.odd > .sorting_1,
  &.order-column.stripe tbody tr.odd > .sorting_1,
  &.display tbody tr.even>.sorting_1,
  &.order-column.stripe tbody tr.even>.sorting_1,
  &.order-column tbody tr > .sorting_1,
  &.order-column tbody tr > .sorting_2,
  &.order-column tbody tr > .sorting_3,
  &.display tbody tr > .sorting_1,
  &.display tbody tr > .sorting_2,
  &.display tbody tr > .sorting_3 {
    background: inherit;
  }
  &.hover tbody tr:hover,
  &.display tbody tr:hover {
    background-color: #dcfcff;
  }
  tbody th,
  tbody td {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.dataTables_wrapper .dataTables_processing {
  width: 200px;
  margin-left: -100px;
  padding: 0;
  line-height: 40px;
  background: #fff;
  border: 1px solid #111;
}
